part1/intro
part1/courseinfo/node_modules
part1/unicafe/node_modules
part1/anecdotes/node_modules

part2/intro
part2/coursecontent/node_modules
part2/phonebook/node_modules
part2/phonebook/db.json
part2/countries/node_modules
part2/countries/.env

part3/intro